{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=3.0"
        />
        <link href="https://fonts.google.com/specimen/Gabarito" rel="stylesheet">
        <style>
            
            table {
                border-collapse: collapse;
                width: 100%;
            }
    
            th, td {
                border: 2px solid black;
                padding: 10px;
                text-align: center;
            }
    
            tr:nth-child(even) {
                background-color: #fff7f7;
            }

            h1 {background-color:rgb(19, 145, 93);}
        </style>
        {% block meta %}
        {% endblock meta %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>

    <body style="background-color:rgb(242, 218, 226);">
        {% block content %}
        {% endblock content %}
    </body>
</html>