{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>{{app_name}}</h1>
    </center>

    <div class="justify-align ">
        <h2>Name:</h2>
        <h3>{{name}}</h3>

        <h2>Class:</h2>
        <h3>{{class}}</h3>

        <h3>Halo {{name}}!, selamat datang di Little Goblin's Inventory :)!. Saat ini kamu menyimpan {{product_count}} item pada aplikasi ini.</h3>
    </div>

    <center>
    <table>
    
        <div class="center-align ">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Edit Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Remove Product</th>
        </tr>
        </div>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}

            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td> 
                    <a href="{% url 'main:reduce_amount' product.id %}">
                    <button>
                        -
                    </button>
                    <a href="{% url 'main:increase_amount' product.id %}">
                    <button>
                        +
                    </button></td>
                <td>{{product.price}}</td>

                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:remove_product' product.id %}">
                        <button>
                            Remove
                        </button>
                </td>
            </tr>
        
        {% endfor %}

    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <center>



{% endblock content %}
