{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>Little Goblin's Inventory System</h1>
    </center>

    <div class="justify-align ">
        <h2>Name:</h2>
        <h3>{{name}}</h3>

        <h2>Class:</h2>
        <h3>{{class}}</h3>

        <h3>Selamat datang di Little Goblin's Inventory :)! Saat ini kamu menyimpan {{product_count}} item pada aplikasi ini</h3>
    </div>

    <center>
    <table>
  
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}

            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        
        {% endfor %}

    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <center>



{% endblock content %}